@font-face {
  font-family: 'Artifika';
  src: url('./assets/fonts/artifika-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  html {
    background-color: #040604;
    color: #eff6f2;
    font-family: 'Artifika', serif;
  }

  body {
    @apply bg-background text-text font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer utilities {
  @property --border-angle {
    syntax: "<angle>";
    initial-value: 0turn;
    inherits: false;
  }

  @keyframes border-rotate {
    to {
      --border-angle: 1turn;
    }
  }

  .animate-border {
    animation: border-rotate 8s linear infinite;
  }

  @keyframes shine {
    0% {
      color: #eceff3;
      text-shadow: none;
    }
    50% {
      color: #fff;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073;
    }
    100% {
      color: #eceff3;
      text-shadow: none;
    }
  }

  .shine-text {
    animation: shine 2s infinite;
  }
}
