@import url('https://fonts.googleapis.com/css2?family=Artifika:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  html {
    background-color: #040604;
    color: #eff6f2;
    font-family: 'Artifika', serif;
  }

  body {
    @apply bg-background text-text font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer utilities {
  @property --border-angle {
    syntax: "<angle>";
    initial-value: 0turn;
    inherits: false;
  }

  @keyframes border-rotate {
    to {
      --border-angle: 1turn;
    }
  }

  .animate-border {
    animation: border-rotate 8s linear infinite;
  }
}
